#include "Config/AppIdentifiers.xcconfig"
#include "Config/AppVersion.xcconfig"

PRODUCT_NAME = Chitchat
PRODUCT_BUNDLE_IDENTIFIER = $(BASE_BUNDLE_IDENTIFIER)

INFOPLIST_FILE = Riot/SupportingFiles/Info.plist
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon

CODE_SIGN_ENTITLEMENTS = Riot/SupportingFiles/Riot.entitlements

SWIFT_OBJC_BRIDGING_HEADER = $(SRCROOT)/Riot/SupportingFiles/Riot-Bridging-Header.h
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks

SWIFT_OBJC_INTERFACE_HEADER_NAME = GeneratedInterface-Swift.h
